.history-section {
  margin-top: 10px;
}

.history-box {
  margin-top: 8px;
  padding: 10px;
  border: 1px solid #ccc;
  background-color: #f7f7f7;
  border-radius: 5px;
  font-size: 14px;
  max-width: 300px;
}
